h1{
  color: green;
}
.container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans';
  
}
.newsletter h3{
  margin-top: 0; 
}


.newsletter{
  color: grey;
  border: solid thin #cfcfcf;
  padding: 10px;
  border-radius: 3px;
  padding-bottom: 20px;
  
  
  position: relative;
  
}
.newsletter button {
  background-color: #3cb878;
  border: none;
  color: white;
  display: block;
  width: 100%;
  heigh: 30px;
  margin-bottom: 10px;
  }
.newsletter input#email {
  display: block;
  width: 100%;
  heigh: 30px;
  margin-bottom: 4px;
  border: solid #cfcfcf 1px;
  border-radius: 3px;
  box-sizing: border-box;
}
.newsletter #terms {
  position: relative;
  top: 1px;
}
.newsletter #closex {
  position: absolute;
  top: 0;
  right: 10px;
}
#questionmark {
  background-color: #3cb878;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
  color: white;
  font-size: 70px;
  text-align: center;  
  border: solid blue 1px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
#card-holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  background-color: #3cb878;
  width: 180px;  
  text-align: center; 
  color: white;
  box-shadow: 0px 0px 7px 2px grey;
  padding: 20px 0;
}